@font-face {
  font-family: "Signika";
  src: url("../../public/fonts/Signika-VariableFont_wght.ttf");
}
body {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

* {
  margin: 0px;
  padding: 0px;
}

*:visited {
  color: inherit;
}

p, h1, h2, h3, a {
  color: #495057;
  font-family: "Signika";
}

.headerDeclaraciones {
  margin: 20px 400px 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.cuerpoDeclaraciones {
  background-color: #F5F4F1;
  display: flex;
  flex-direction: column;
  margin: 0px 400px 0px;
}

.colorBody {
  background-color: #F5F4F1;
  width: 100%;
}

.footerDeclaraciones {
  display: flex;
  justify-content: flex-end;
  height: 60px;
}

.tabla {
  margin: 5px;
  font-family: "Signika";
  font-weight: bold;
}

.tablaCabecera {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #A19279;
  padding: 5px;
  margin: 5px;
}
.tablaCabecera th {
  display: flex;
  align-items: flex-end;
}
.tablaCabecera th svg {
  fill: #A19279;
}
.tablaCabecera th p {
  color: #E7E6E3;
}

.trTabla {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #495057;
  padding: 5px;
  margin: 5px;
}
.trTabla td {
  display: flex;
  align-items: flex-end;
}
.trTabla td .notificacionesTabla {
  fill: #B0B4B3;
}
.trTabla td .pdf {
  fill: #177DA6;
}
.trTabla td a {
  text-decoration: none;
  color: #177DA6;
}

.checkbox {
  appearance: none;
  background-color: #ffffff;
  width: 20px;
  height: 20px;
  border-radius: 2px;
  border-width: 1px;
  background-color: #ffffff;
  border-color: #B0B4B3;
  border-style: groove;
}

nav {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0px 0px 7px #343A40;
}
nav img {
  width: 150px;
  padding-left: 15px;
}
nav ul {
  display: flex;
  color: #343A40;
}
nav a {
  text-decoration: none;
  color: #495057;
}
nav li {
  display: flex;
  align-items: center;
}

.ulNavCenter {
  background-color: #ffffff;
  width: 1000px;
}
.ulNavCenter ul {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.ulNavCenter .activeNav {
  border-bottom: 9px solid #BFA317;
}

#logout {
  background-color: #495057;
  height: 50px;
}
#logout svg {
  fill: #ffffff;
}

.iconNav li {
  padding: 0px 20px;
}

.pagEncabezado {
  width: 450px;
}

.ulEncabezado {
  margin: 0px 400px;
  width: 600px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.botones ul {
  padding: 20px;
}
.botones ul a {
  text-decoration: none;
  color: #B0B4B3;
}
.botones ul li {
  list-style-type: none;
}

.liEncabezado {
  height: 30px;
  border-right: 1px solid #E7E6E3;
  padding-right: 20px;
}
.liEncabezado svg {
  fill: #B0B4B3;
}

.configuracion {
  width: 130px;
  border-style: solid;
  border-color: #E7E6E3;
  border-width: 1px;
  padding: 15px;
}
.configuracion p {
  font-weight: bold;
  color: #212529;
}

.svgConfigurar {
  display: flex;
  align-items: center;
  justify-content: center;
}
.svgConfigurar svg {
  fill: #177DA6;
}
.svgConfigurar p {
  color: #495057;
}

.filtro {
  background-color: #E7E6E3;
  padding: 10px;
  margin-top: 15px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.holderMeses {
  width: 200px;
  height: 40px;
  padding-left: 10px;
  background-color: #ffffff;
  border: none;
  font-weight: bold;
  color: #A19279;
}

.meses {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.meses button {
  margin: 5px;
  padding: 10px;
  background-color: #ffffff;
  border: none;
  font-weight: bold;
  color: #212529;
}

.border {
  border-right: 3px solid #ffffff;
  padding-right: 5px;
}

.holderBuscador {
  width: 100px;
  height: 35px;
  padding-left: 10px;
  background-color: #ffffff;
  border: none;
  font-weight: bold;
  color: #A19279;
}

.gestiondeclaraciones {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 15px 0px;
}

.gestionfecha {
  font-style: italic;
}

.gestioncajas {
  display: flex;
  flex-direction: row;
}

.gestioncaja {
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  border-style: solid;
  border-color: #E7E6E3;
  border-width: 1px;
  padding: 5px 20px;
  margin-left: 15px;
}
.gestioncaja h3 {
  font-size: 14px;
  padding-top: 9px;
  width: 100px;
}
.gestioncaja #pGrande {
  color: #A19279;
  font-size: 40px;
}
.gestioncaja #pMini {
  color: #A19279;
  font-size: 20px;
  padding-top: 20px;
}

.gestionExportar {
  padding-right: 10px;
}
.gestionExportar a {
  color: #177DA6;
  font-weight: bold;
}
.gestionExportar #flecha {
  fill: #177DA6;
}

.paginacion {
  display: flex;
  align-items: center;
  margin-right: 400px;
}

.botonesPaginacion button {
  width: 40px;
  height: 40px;
  margin: 0px 10px;
  border-style: none;
  background-color: transparent;
}
.botonesPaginacion #active {
  border-radius: 2px;
  background-color: #ffffff;
  color: #343A40;
  border-color: #E7E6E3;
  border-style: solid;
}

.leyenda {
  margin-top: 2px;
  padding-right: 20px;
  display: flex;
  flex-direction: column;
}
.leyenda p {
  font-size: 15px;
  margin: 0px;
}
.leyenda #pendiente {
  fill: #F2522E;
}
.leyenda #espera {
  fill: rgb(240, 150, 33);
}

/*# sourceMappingURL=styles.css.map */
