//? Variables - Main Colors
// Colores
$white: #ffffff;
$light-beige: #F5F4F1;
$dark-beige: #E7E6E3;
$dark-gray: #343A40;
$light-brown: #A19279;
$mustard: #BFA317;

//? FlexBox

//? Variables - Font Colors & Styles

@font-face {
  font-family: 'Source';
  src: url('../../public/fonts/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'Isidora';
  src: url('../../public/fonts/IsidoraSansAlt-Regular.ttf');
}
// fonts variables
$fontprin: 'Source';
$fontsec: 'Isidora';

//? Estilos globales

body {
  display: flex;
  flex-direction: column;
  background-color: $white;
}

* {
  margin:0px;
  padding:0px;
}

*:visited{
  color: inherit;
}


.headerDeclaraciones{
  margin: 0px 350px;
  display: flex;
  flex-direction: row;
  justify-content:space-between;
}

.cuerpoDeclaraciones {
  background-color: $light-beige;
  display: flex;
  flex-direction: column;
  margin: 0px 350px;
}

.footerDeclaraciones{
  display: flex;
  justify-content: flex-end;
  height: 60px;
}


//? Import

//* Pages
@import './pages/declaraciones.scss';
@import './pages/financiacion.scss';
@import './pages/informes.scss';
@import './pages/inicio.scss';
@import './pages/instalaciones.scss';

//* Components
// Header
@import './components/header/nav.scss';
@import './components/header/encabezado.scss';
@import './components/header/botones.scss';

@import './components/info/filtro.scss';
@import './components/info/gestionDeclaraciones.scss';
@import './components/info/paginacion.scss';
@import './components/info/leyenda.scss';


//  Footer

// Content
@import './components/content/tabla.scss';