//? Variables - Main Colors
// Colores
$white: #ffffff;
$light-beige: #F5F4F1;
$dark-beige: #E7E6E3;
$dark-gray: #343A40;
$mustard: #BFA317;

//? FlexBox

//? Variables - Font Colors & Styles

@font-face {
  font-family: 'Source';
  src: url('../../public/fonts/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'Isidora';
  src: url('../../public/fonts/IsidoraSansAlt-Regular.ttf');
}
// fonts variables
$fontprin: 'Source';
$fontsec: 'Isidora';

//? Estilos globales
* {
  background-color: $light-beige;
  list-style: none;
}

*:visited{
  color: inherit;
}

// body,
// .app,
// .page {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   height: 100%;
//   background-color: $lightGray
// }

//? Import

//* Pages
@import './pages/declaraciones.scss';
@import './pages/financiacion.scss';
@import './pages/informes.scss';
@import './pages/inicio.scss';
@import './pages/instalaciones.scss';

//* Components
// Header
@import './components/header/nav.scss';

@import './components/info/paginacion.scss';


//  Footer

// Content
@import './components/content/tabla.scss';