//? Variables - Main Colors
// Green
$darkGreen: #034c52;
$mediumGreen: #015c63;
$lightGreen: #017075;
$transp-darkGreen: #034c527f;
$transp-mediumGreen: #015c6385;
$transp-lightGreen: #016f757d;
// Salmon
$darkSalmon: #e6a69a;
$mediumSalmon: #ffbaab;
$lightSalmon: #ffc3b8;
$transp-darkSalmon: #ffbaab85;
$transp-mediumSalmon: #ffbaab82;
$transp-lightSalmon: #ffc3b882;
// Gray
$darkGray: #575656;
$mediumGray: #c7c7c8;
$lightGray: #ececec;
$white: #ffffff;
$transp-darkGray: #5756567c;
$transp-mediumGray: #c7c7c887;
$transp-lightGray: #ececec7d;
$transp-white: #ffffff77;

//? FlexBox

//? Variables - Font Colors & Styles

@font-face {
  font-family: 'Source';
  src: url('../../public/fonts/SourceSansPro-Regular.ttf');
}

@font-face {
  font-family: 'Isidora';
  src: url('../../public/fonts/IsidoraSansAlt-Regular.ttf');
}
// fonts variables
$fontprin: 'Source';
$fontsec: 'Isidora';

//? Estilos globales
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

*:visited{
  color: inherit;
}

// body,
// .app,
// .page {
//   display: flex;
//   flex-direction: column;
//   width: 100%;
//   height: 100%;
//   background-color: $lightGray
// }

//? Import

//* Pages
@import './pages/declaraciones.scss';
@import './pages/financiacion.scss';
@import './pages/informes.scss';
@import './pages/inicio.scss';
@import './pages/instalaciones.scss';

//* Components
// Header
@import './components/header/nav.scss';

//  Footer

// Content
