.ulLista{
    display: flex;
    flex-direction: row;
    color: white;
    padding-right: 50px;
    list-style: none;
    text-align: center;
}

.ulLista li{
    margin-right: 150px;
    text-align: center;
}

.ulLydia{
    display: flex;
    flex-direction: row;
    color: $dark-gray;
    padding-right: 50px;
    list-style: none;
}

.ulLydia li{
    margin-right: 70px;
    text-align: center;
}