// Botones Crear, Subir Archivo e Histórico de archivos

.ulEncabezado {
    margin: 0px 350px;
    width: 600px;
    display         : flex;
    align-items     : center;
    justify-content : space-between;

}

.botones ul{
    padding: 20px;

    
    a {
        text-decoration: none;
    }
    
    li, svg {
        list-style-type: none;
    }
}

.liEncabezado{
    height: 30px;
    border-right: 1px solid $dark-beige;
    padding-right: 20px;
}

