.configuracion {
    border-style: solid;
    border-color: $dark-beige;
    border-width: 1px;
    padding     : 15px;
    width       : 140px;

    p {
        font-weight: bold;
        color      : $dark-font;
    }
}

.spanConfigurar {
    display        : flex;
    align-items    : center;
    justify-content: center;

    span {
        color: $blue-pdf;
    }

    p {
        color: $medium-font;
    }
}