// Título y texto del encabezado
.pagEncabezado {
    width: 400px;
}

// Configuración
.configuracion {
    width       : 140px;
    border-style: solid;
    border-color: $dark-beige;
    border-width: 1px;
    margin      : 20px 0px;
    padding     : 0px 10px 0px;
}

.svgConfigurar {
    display        : flex;
    align-items    : center;
    justify-content: center;
}

// Botones Crear, Subir Archivo e Histórico de archivos

.botones ul{
    padding: 20px;

    
    a {
        text-decoration: none;
    }
    
    li, svg {
        list-style-type: none;
    }
}

.liEncabezado{
    height: 30px;
    border-right: 1px solid $dark-beige;
    padding-right: 20px;
}


