.holderBuscador {
    width           : 110px;
    height          : 39px;
    padding-left    : 10px;
    background-color: $white;
    border          : none;
    font-weight     : bold;
    color           : $light-brown;
    box-shadow      : $shadow;
}