.holderBuscador{
    width: 100px;
    height: 35px;
    padding-left: 10px;
    background-color: $white;
    border          : none;
    font-weight     : bold;
    color           : $light-brown;
}