.gestiondeclaraciones {
    display        : flex;
    align-items    : center;
    justify-content: space-between;
    margin         : 15px 0px;

}

.gestionfecha {
    font-style: italic;
}

.gestioncajas {
    display       : flex;
    flex-direction: row;
}

.gestioncaja {
    background-color: $white;
    display         : flex;
    flex-direction  : row;
    border-style    : solid;
    border-color    : $dark-beige;
    border-width    : 1px;
    padding         : 5px 20px;
    margin-left     : 15px;

    h3 {
        font-size  : 14px;
        padding-top: 9px;
        width      : 100px;
    }

    #pGrande {
        color    : $light-brown;
        font-size: 40px;
    }

    #pMini {
        color      : $light-brown;
        font-size  : 20px;
        padding-top: 20px;
    }

}

.gestionExportar {
    padding-right: 10px;
    a {
        color      : $blue-pdf;
        font-weight: bold;
    }

    #flecha {
        fill: $blue-pdf;
    }

}