.leyenda {
    margin        : 5px;
    padding       : 5px 30px;
    display       : flex;
    flex-direction: column;

    p {
        font-size  : 0.7rem;
        margin     : 0px;
        font-weight: bold;
    }

    #pendiente {
        font-size: 0.8rem;
        color    : $red-notification;
    }

    #espera {
        font-size: 0.8rem;
        color    : rgb(240, 150, 33);
    }


}